@model SoapProductionApp.Models.Warehouse.ViewModels.BatchViewModel

<h2>Delete Batch</h2>

<p>Are you sure you want to delete this batch?</p>

<ul>
    <li><strong>Batch Name:</strong> @Model.Name</li>
    <li><strong>Supplier:</strong> @Model.Supplier</li>
    <li><strong>Purchase Date:</strong> @Model.PurchaseDate.ToString("dd/MM/yyyy")</li>
    <li><strong>Expiration Date:</strong> @(Model.ExpirationDate?.ToString("dd/MM/yyyy") ?? "No Expiration")</li>
    <li><strong>Package Quantity:</strong> @Model.QuantityOfPackage @Model.Unit</li>
    <li><strong>Available Quantity:</strong> @Model.AvailableQuantityOfPackage @Model.Unit</li>
    <li><strong>Price of package (without tax) </strong> @Model.PriceOfPackageWithoutTax €</li>
    <li><strong>Price per unit</strong> @Model.PricePerUnitWithoutTax €/@Model.Unit (@Model.PricePerUnitWithTax €/@Model.Unit) </li>
    <li><strong>Tax Percentage:</strong> @Model.TaxPercentage%</li>
</ul>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Details" asp-controller="Warehouse" asp-route-id="@Model.WarehouseItem.Id" class="btn btn-secondary">Cancel</a>
</form>