@model IEnumerable<SoapProductionApp.Models.Warehouse.ViewModels.BatchViewModel>

<h2>Batches</h2>
<table>
    <thead>
        <tr>
            <th>Batch Name</th>
            <th>Supplier</th>
            <th>Purchase Date</th>
            <th>Expiration Date</th>
            <th>Available Quantity</th>
            <th>Quantity</th>
            <th>Price per unit</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var batch in Model)
        {
            <tr>
                <td>@batch.Name</td>
                <td>@batch.Supplier</td>
                <td>@batch.PurchaseDate.ToString("yyyy-MM-dd")</td>
                <td>@(batch.ExpirationDate.HasValue ? batch.ExpirationDate.Value.ToString("yyyy-MM-dd") : "N/A")</td>
                <td>@batch.AvailableQuantityOfPackage @batch.Unit</td>
                <td>@batch.QuantityOfPackage @batch.Unit</td>

                <td>@batch.PricePerUnitWithoutTax €/@batch.Unit (@batch.PricePerUnitWithTax €/@batch.Unit) </td>
                <td>
                    <a href="@Url.Action("Edit", "Batch", new { id = batch.Id })">Edit</a> |
                    <a href="@Url.Action("Delete", "Batch", new { id = batch.Id })">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>