@model List<SoapProductionApp.Models.Warehouse.WarehouseItem>

<h2>Skladové zásoby</h2>
<a href="@Url.Action("Create")" class="btn btn-success">Přidat novou položku</a>

<table class="table">
    <thead>
        <tr>
            <th>Název</th>
            <th>Kategorie</th>
            <th>Množství</th>
            <th>Cena za jednotku (s DPH)</th>
            <th>Akce</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    @string.Join(", ", item.Categories.Select(c => c.Name))
                </td>
                <td>@item.Quantity @item.Unit</td>
                <td>@item.PriceWithTax.ToString("0.00") Kč</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Detail</a>
                </td>
            </tr>
        }
    </tbody>
</table>