@model List<SoapProductionApp.Models.Warehouse.WarehouseItem>

<h2>Skladové zásoby</h2>
<a href="@Url.Action("Create")" class="btn btn-success">Přidat novou položku</a>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Stock Level</th>
            <th>Min level</th>
            <th>Unit cost (exclude VAT)</th>
            <th>Unit cost (include VAT)</th>
            <th>Total value (include VAT)</th>
            <th>Category</th>
            <th>Akce</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Quantity @(item.Unit != null ? item.Unit.Abbreviation : "")
                    @if (item.Quantity <= item.MinQuantity)
                    {
                        <span class="low-stock-indicator" title="Nízká zásoba!">⚠️</span>
                    }
                </td>
                <td>@item.MinQuantity @(item.Unit != null ? item.Unit.Abbreviation : "")</td>
                <td>@item.PricePerUnit.ToString("0.00") €/@(item.Unit != null ? item.Unit.Abbreviation : "-")</td>
                <td>@item.PriceWithTax.ToString("0.00") €/@(item.Unit != null ? item.Unit.Abbreviation : "-")</td>

                <td>
                    @if (item.Categories != null && item.Categories.Any())
                    {
                        foreach (var category in item.Categories)
                        {
                            <span class="badge" style="background-color: @category.ColorBackground; color: @category.ColorText;">
                                @category.Name
                            </span>
                        }
                    }
                    else
                    {
                        <span>-</span>
                    }
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Detail</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<style>
    .badge {
        display: inline-block;
        padding: 5px 10px;
        font-size: 14px;
        font-weight: bold;
        border-radius: 5px;
        margin-right: 5px;
    }

    .low-stock-indicator {
        color: red;
        font-weight: bold;
        margin-left: 5px;
        font-size: 18px;
    }
</style>