@model List<SoapProductionApp.Models.Warehouse.WarehouseItemBatch>

<h2>Seznam šarží</h2>

<table class="table">
    <thead>
        <tr>
            <th>Produkt</th>
            <th>Datum nákupu</th>
            <th>Množství</th>
            <th>Cena za jednotku</th>
            <th>Expirace</th>
            <th>Akce</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var batch in Model)
        {
            <tr>
                <td>@batch.WarehouseItem.Name</td>
                <td>@batch.PurchaseDate.ToShortDateString()</td>
                <td>@batch.Quantity</td>
                <td>@batch.PricePerUnit Eur</td>
                <td>@(batch.ExpirationDate?.ToShortDateString() ?? "N/A")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@batch.Id" class="btn btn-warning btn-sm">Edit</a>
                    <a asp-action="Delete" asp-route-id="@batch.Id" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>