@model List<SoapProductionApp.Models.Warehouse.Category>

<h2>Správa kategorií</h2>
<a href="@Url.Action("Create")" class="btn btn-success">Přidat novou kategorii</a>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Colors</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Name</td>
                <td>
                    <div style="width: 100px; height: 50px; background-color: @category.ColorBackground; color: @category.ColorText; display: flex; align-items: center; justify-content: center;">
                        Text example
                    </div>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@category.Id" class="btn btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@category.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>